## Car Price Prediction
a machine learning model that accurately predicts the price of a car based on various features such as make, model, year, mileage, condition, and more.

dataset: https://www.kaggle.com/datasets/deepcontractor/car-price-prediction-challenge

#### Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Import Data

In [2]:
df= pd.read_csv("car_price_prediction.csv")

## 1. Explore Data

In [20]:
# Displays the first few rows (default is 5) of a DataFrame.
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [21]:
# Returns a tuple representing the dimensions of a DataFrame.
df.shape

(18924, 18)

In [22]:
# display information about a DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18924 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18924 non-null  int64
 1   Price             18924 non-null  int64
 2   Levy              18924 non-null  object
 3   Manufacturer      18924 non-null  object
 4   Model             18924 non-null  object
 5   Prod. year        18924 non-null  int64
 6   Category          18924 non-null  object
 7   Leather interior  18924 non-null  object
 8   Fuel type         18924 non-null  object
 9   Engine volume     18924 non-null  object
 10  Mileage           18924 non-null  object
 11  Cylinders         18924 non-null  float64
 12  Gear box type     18924 non-null  object
 13  Drive wheels      18924 non-null  object
 14  Doors             18924 non-null  object
 15  Wheel             18924 non-null  object
 16  Color             18924 non-null  object
 17  Airbags           18924 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.7+ MB

In [23]:
# generate descriptive statistics
df.describe()

                 ID         Price    Prod. year     Cylinders       Airbags
count  1.892400e+04  1.892400e+04  18924.000000  18924.000000  18924.000000
mean   4.557538e+07  1.858744e+04   2010.914236      4.580216      6.568379
std    9.375468e+05  1.921356e+05      5.665749      1.200223      4.322323
min    2.074688e+07  1.000000e+00   1939.000000      1.000000      0.000000
25%    4.569501e+07  5.331000e+03   2009.000000      4.000000      4.000000
50%    4.577191e+07  1.317200e+04   2012.000000      4.000000      6.000000
75%    4.580174e+07  2.206300e+04   2015.000000      4.000000     12.000000
max    4.581665e+07  2.630750e+07   2020.000000     16.000000     16.000000

In [25]:
# calculates the number of duplicate rows in a DataFrame
df.duplicated().sum()

0

In [27]:
# removes duplicate rows and modifies the original DataFrame directly
df.drop_duplicates(inplace=True)

In [9]:
df.duplicated().sum()

0

In [28]:
# calculates the number of missing values in each column of a DataFrame.
df.isnull().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

## 1. Analysis

In [14]:
# returns an array of unique values
def uniqueItem(col):
    return df[col].unique()

In [15]:
uniqueItem("Manufacturer")

array(['LEXUS', 'CHEVROLET', 'HONDA', 'FORD', 'HYUNDAI', 'TOYOTA',
       'MERCEDES-BENZ', 'OPEL', 'PORSCHE', 'BMW', 'JEEP', 'VOLKSWAGEN',
       'AUDI', 'RENAULT', 'NISSAN', 'SUBARU', 'DAEWOO', 'KIA',
       'MITSUBISHI', 'SSANGYONG', 'MAZDA', 'GMC', 'FIAT', 'INFINITI',
       'ALFA ROMEO', 'SUZUKI', 'ACURA', 'LINCOLN', 'VAZ', 'GAZ',
       'CITROEN', 'LAND ROVER', 'MINI', 'DODGE', 'CHRYSLER', 'JAGUAR',
       'ISUZU', 'SKODA', 'DAIHATSU', 'BUICK', 'TESLA', 'CADILLAC',
       'PEUGEOT', 'BENTLEY', 'VOLVO', 'სხვა', 'HAVAL', 'HUMMER', 'SCION',
       'UAZ', 'MERCURY', 'ZAZ', 'ROVER', 'SEAT', 'LANCIA', 'MOSKVICH',
       'MASERATI', 'FERRARI', 'SAAB', 'LAMBORGHINI', 'ROLLS-ROYCE',
       'PONTIAC', 'SATURN', 'ASTON MARTIN', 'GREATWALL'], dtype=object)

In [16]:
uniqueItem("Category")

array(['Jeep', 'Hatchback', 'Sedan', 'Microbus', 'Goods wagon',
       'Universal', 'Coupe', 'Minivan', 'Cabriolet', 'Limousine',
       'Pickup'], dtype=object)

In [29]:
# calculates and prints the number of unique values for each column in a DataFrame
for col in df.columns:
    print(col,":",df[col].nunique())

ID : 18924
Price : 2315
Levy : 559
Manufacturer : 65
Model : 1590
Prod. year : 54
Category : 11
Leather interior : 2
Fuel type : 7
Engine volume : 107
Mileage : 7687
Cylinders : 13
Gear box type : 4
Drive wheels : 3
Doors : 3
Wheel : 2
Color : 16
Airbags : 17